:root {
    --pico-font-family: "Inter", sans-serif;
}

.main-navigation {
    justify-content: center;
}

.main-navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.main {
    padding-left: 10vh;
    padding-right: 10vh;
}

.container {
    max-width: 1024px;
}

.bordered-article {
    border: 1px var(--pico-form-element-border-color) solid;
}

.success {
    background-color: lightgreen;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: darkgreen;
    border: 2px green solid;
}

.error {
    background-color: indianred;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: darkred;
    border: 2px darkred solid;
}

.steam-username {
    font-size: 1.1rem;
}

.game-div {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.4rem;
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .1s;
    background-color: transparent;
}

.game-div[data-tooltip] {
    border-bottom: none;
}

.game-div:hover {
    background-color: var(--pico-background-color);
}

.games-table img.game-thumbnail {
    object-fit: cover;
    border-radius: 4px;
}

.games-table td {
    vertical-align: middle;
}

.game-tags {
    background-color: var(--pico-table-row-stripped-background-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-height: 8rem;
    overflow-x: auto;
    overflow-y: auto;
}

.game-tags-background {
    padding: 0.15rem 0.5rem;
    border-radius: 3px;
    font-size: 0.8rem;
    white-space: nowrap;
}