:root {
    --pico-font-family: "Inter", sans-serif;
}

.main-navigation {
    justify-content: center;
}

.main-navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.main {
    padding-left: 10vh;
    padding-right: 10vh;
}

.container {
    max-width: 1024px;
}

.bordered-article {
    border: 1px var(--pico-form-element-border-color) solid
}

.steam-username {
    font-size: 1.1rem;
}

.success {
    background-color: lightgreen;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: darkgreen;
    border: 2px green solid
}

.error {
    background-color: indianred;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: darkred;
    border: 2px darkred solid
}

.game-div {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.4rem;
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .1s;
    background-color: transparent;
}

.game-div:hover {
    background-color: var(--pico-background-color);
}

.game-tags {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.game-tags-background {
    background-color: var(--pico-muted-border-color);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-size: 0.75rem;
}