# CONFIGURATION
# 1. Change User=anthony to your machine's username.
# 2. Change the paths of WorkingDirectory and ExecStart.
#    /home/anthony/Desktop/Deployment_Provisioner/Installer
#
# INSTALLATION
# 1. Place this file inside of: /etc/systemd/system/
# 2. Reload systemd:  sudo systemctl daemon-reload
# 3. Enable service:  sudo systemctl enable installer.service
# 4. Start service:   sudo systemctl start installer.service
# 5. Check status:    sudo systemctl status installer.service
# =============================================================

[Unit]
Description=Localhost Installer Service
After=network.target mysql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
# Make changes here.
# ===============================================================================================
User=anthony
WorkingDirectory=/home/anthony/Desktop/Deployment_Provisioner/Installer
ExecStart=/usr/bin/env php /home/anthony/Desktop/Deployment_Provisioner/Installer/installer.php
# ===============================================================================================
[Install]
WantedBy=multi-user.target

